<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">SocialApp</a>
      
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          
          <li class="nav-item">
            <a routerLink="/members" routerLinkActive="active" class="nav-link " >Matches</a>
          </li>

          <li class="nav-item">
            <a routerLink="/lists" routerLinkActive="active" class="nav-link " >Lists</a>
          </li>

          <li class="nav-item">
            <a routerLink="/messages" routerLinkActive="active" class="nav-link " >Messages</a>
          </li>
          <li *appHasRole="['Admin','Moderator']" class="nav-item">
            <a routerLink="/admin" routerLinkActive="active" class="nav-link " >admin</a>
          </li>
          <li class="nav-item">
            <a routerLink="/errors" routerLinkActive="active" class="nav-link " >errors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        
        
        </ul>
      
      @if(accountService.currentUser()){
        <div dropdown class = "dropdown">
          <img 
          class="me-2"
          src="{{accountService.currentUser()?.photoUrl}}" alt="userMainImage">
          <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
            Welcome {{accountService.currentUser()?.KnownAs }}
          </a>
          <div *dropdownMenu class="dropdown-menu">
            <a routerLink="/member/edit" routerLinkActive="active" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </div>
      }
      @if(!accountService.currentUser()){
        <form  #loginform="ngForm" (ngSubmit)="login()"class="d-flex">
          <input name ="username" 
            [(ngModel)]="model.username" class="form-control me-2" type="text" 
            placeholder="Username">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      } 
      </div>
  </nav>