<div class="row">
        <div class="text-center mt-3">
            <h2>Your Potential Friends - {{MemberService.paginatedResult()?.pagination?.totalItems}}</h2>
        </div>

        <div class="container mt-3">
            <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMember()">
                <div class="d-flex mx-">
                    <label class="col-form-label">Age from:</label>
                    <input 
                        type="number" 
                        class="form-control ms-1" 
                        style="width: 70px;"
                        name="minAge"
                        [(ngModel)]="MemberService.userParams().minAge"
                    >
                </div>
                <div class="d-flex mx-">
                    <label class="col-form-label">Age to:</label>
                    <input 
                        type="number" 
                        class="form-control ms-1" 
                        style="width: 70px;"
                        name="maxAge"
                        [(ngModel)]="MemberService.userParams().maxAge"
                    >
                </div>
                <div class="d-flex mx-">
                    <label class="col-form-label">Show:</label>
                    <select 
                        name="gender" 
                        style="width: 130px;"
                        class="form-select ms-1"
                        [(ngModel)]="MemberService.userParams().gender"
                    >
                    @for(gender of genderList; track gender.value){
                        <option [value]="gender.value">
                            {{gender.display}}
                        </option>
                    }
                    </select>
                </div>

                <button class="btn btn-primary ms-1" type="submit">
                    Apply filers
                </button>

                <button 
                    (click)="resetFilters()"
                    class="btn btn-primary ms-1" 
                    type="submit">
                    Reset filers
                </button>
                <div class="col">
                    <div class="btn-group float-end">
                        <button
                            class="btn btn-primary"
                            name="orderBy"
                            (click)="loadMember()" 
                            btnRadio="lastActive"
                            [(ngModel)]="MemberService.userParams().orderby"
                        >Last Active</button>
                    </div>
                    <div class="btn-group float-end">
                        <button
                            class="btn btn-primary"
                            name="orderBy"
                            (click)="loadMember()" 
                            btnRadio="created"
                            [(ngModel)]="MemberService.userParams().orderby"
                        >newest Members</button>
                    </div>
                </div>
                
                
            </form>
        </div>
        @for(member of MemberService.paginatedResult()?.items; track member.id){
            <div class="col-2">
                <app-member-card [member]="member"></app-member-card>
            </div>
            

        }
    
</div>

@if(MemberService.paginatedResult()?.pagination){
    <div class="d-flex justify-content-center">
        <pagination 
        [boundaryLinks]="true" 
        [totalItems]="MemberService.paginatedResult()?.pagination!.totalItems"         
        [itemsPerPage]="MemberService.paginatedResult()?.pagination!.itemsPerPage"
        (pageChanged)="pageChanged($event)"

        
        [(ngModel)]="MemberService.paginatedResult()?.pagination!.currentPage"
        
        [maxSize]="10"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;"
        >
     
        </pagination>
    </div>
}


